<div class="containerPerso">
  <h1>Hello, <%= current_user.firstname + ' ' + current_user.lastname%></h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag flat.photos.first.key, class: "flat-card-img" %>
          <div class="card-body">
            <h5 class="card-title"><%= flat.title %></h5>
            <div class="d-flex justify-content-between">
              <%= link_to "Delete", flat_path(flat.id),
                class: "btn-card",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
              <%= link_to "Edit", edit_flat_path(flat.id), class: "btn-card"%>
              <%= link_to "See", flat_path(flat.id), class: "btn-card"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
