<div class="containerPerso">
  <%= simple_form_for @flat do |f| %>
    <%= f.input :title%>
    <div class="number-form">
      <%= f.input :number_of_travelers, input_html: { class: "input" } %>
      <%= f.input :number_of_beds, class: "input" %>
      <%= f.input :number_of_bathrooms, class: "input" %>
    </div>
    <%= f.input :address,
            input_html: { data: { geocoder_target: "address" }, class: "d-none"},
            wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
    <%= f.submit %>
  <% end %>
</div>
